.done-card {
  border: 1px solid #f0f1f3;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgb(202, 202, 202);
  margin: 30px auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.done-card h1 {
  color: #444;
  font-size: 10px;
  font-family: Poppins , sans-serif;
  margin-top: 5px;
  padding: 0;
  text-align: center;
}

.done-card h2 {
  font-size: 40px;
  color: #444;
  font-family: Poppins , sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.done-card img {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  max-width: 300px;
}

.category {
  border-bottom: 3px solid #eb9376;
  font-family: Poppins , sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;
  width: 70px;
}

.finish {
  background: #5B86C2;
  border: none;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-family: Poppins , sans-serif;
  margin-top: 10px;
  margin-left: 90px;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  width: 150px;
}

.link-recipe {
  border: 1px solid #F0F3FA;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 10px 18px #B6C5CD;
  color: #1F2F16;
  font-family: Poppins , sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: inherit;
  text-align: center;
}


.share-btn {
  filter: invert(100%);
  width: 30px;
  border: none;
}

.done-card button {
  background: #5B86C2;
  border: none;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-family: Poppins , sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  width: 80px;
}

.category-container {
  display: flex;
  list-style-type: none;
  margin: 2px 0 0;
  margin-left: 30px;
  margin-bottom: 10px;
  justify-content: center;
  overflow: auto;
  flex-wrap: wrap;
  max-width: 300px;
  align-items: center;
}

.btn-category {
  display: flex;
  flex-basis: 10px;
  flex-grow: 2;
  text-align: center;
  background-color: #8EB8AB;
  border-radius: 5px;
  color: #F0F3FA;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 20px;
  transition: all 0.3s ease-out;
  border: 1px solid;
}

.btn-category:hover {
  background-color: #E6EFED;
  color: #58907d;
}

.btn-category:active {
  background-color: #E6EFED;
  color: #58907d;
  cursor: default;
  font-weight: 600
}